@charset "utf-8";
/* CSS Document */

body {
padding:0px;
margin:0px;
}
.ana{
display:flex;
flex-direction:column;	
background-color:#960;
height:100vh;
}

.kapsayici{
display:flex;
justify-content:space-around;
background-color:#073f68;
height:80px;
margin-top:20px;

}

.logo{
	margin-top:-20px;
}

.menu{
display:flex;
align-items:center;
gap:10px;
color:white;
}

.link{
border: 1px solid #fff;
padding: 5px 7px;
transition:0.3s;
}

.link:hover {
background-color:#fff;
color:#073f68;
cursor:pointer;
padding:5px 20px;
}

.menu .link{
	
}

.footer{
display:flex;
justify-content:center;
background-color:#0FF;
height:80px;
align-items:center; 
justify-self:end;
gap:10px;
}

.hero{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(galeri.jpg);
background-position:center;
background-size:cover;
width:100%;
height:50vh;
}

.hero-menu{
display:flex;
gap:7px;
flex-direction:row;


}

.hero-baslik{
color:#fff;
font-size:21px;
font-weight:700;
border-bottom :1px solid #fff;
margin-bottom:17px;
padding-bottom:17px;
}

.dersler{
display:flex;
justify-content:space-around;
margin-top:30px;
background-color:#666;
gap:10px;
}

.ders1{
width:250px;
height:400px;
background-color:#06F;
}

.ders2{
width:250px;
height:400px;
background-color:#303;
}

.ders3{
width:250px;
height:400px;
background-color:#3F9;
}

.ders4{
width:250px;
height:400px;
background-color:#9F9;
}


